@font-face {
    font-family: "Calibri";
    src: url("../fonts/Calibri.woff") format("woff");
}

@font-face {
    font-family: "Calibri-Bold";
    src: url("../fonts/Calibri-Bold.woff") format("woff");
}

body {
    font-family: "Calibri";
    font-size: 15px;
}

body::-webkit-scrollbar {
    width: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Calibri-Bold";
}

h1 {
    font-size: 21px;
}

h3 {
    font-size: 18px;
}

h6 {
    font-size: 15px;
}

.header {
    position: relative;
}

pre {
    font-family: "Calibri";
    font-size: 15px;
}

.header-logo-img {
    height: 149px;
    position: relative;
    z-index: 1;
}

.header-blue-line {
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 0px;
    top: 66px;
    background: #caf0fe;
}

.status {
    padding: 5px 20px;
    text-align: center;
}

.status-green {
    background: #ccffcc;
}

.status-yellow {
    background: #ffffcc;
}

.action-link {
    cursor: pointer;
    padding: 5px 20px;
}

.action-link-delete {
    background: #ff0000;
    color: #ffffff;
}

.menu-page-link {
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid #000000;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    display: inline-block;
}

.menu-page-link:hover {
    border: 1px solid #000000;
}

.menu-page-link[disabled] {
    cursor: initial;
    background: #e9ecef !important;
}

.menu-page-link-green {
    background: #ccffcc;
}

.menu-page-link-green:hover {
    background: #ccffcc;
    color: #000000;
}

.menu-page-link-yellow {
    background: #ffffcc;
}

.menu-page-link-yellow:hover {
    background: #ffffcc;
    color: #000000;
}

.menu-page-link-blue {
    background: #caf0fe;
}

.menu-page-link-blue:hover {
    background: #caf0fe;
    color: #000000;
}

.menu-page-link-red {
    background: #ff0000;
    color: #ffffff;
}

.menu-page-link-red:hover {
    background: #ff0000;
    color: #ffffff;
}

.btn-status-toggle {
    cursor: pointer;
}

.btn-story-sort {
    cursor: pointer;
}

.view-textarea {
    padding: 0px;
    background-color: transparent !important;
    border: 0px;
    box-shadow: none !important;
    resize: none !important;
}

.home-story-wrap { 
    background: #caf0fe;
    border: 1px solid #000000;
    border-radius: 5px;
}

.home-story-wrap pre {
    white-space: break-spaces;
}

.story-view-wrap {
    background: #caf0fe;
    border: 1px solid #000000;
    border-radius: 5px;
}

.story-view-wrap pre {
    white-space: break-spaces;
}

.pagination {
    justify-content: flex-end;
}

.sortby-wrap {
    position: relative;
}

.sortby-wrap-title {
    position: absolute;
    transform: translateX(calc(-100% - 10px));
}

.mobile-view {
    display: none;
}

.stories-table {
    display: flex;
    border: 1px solid #212529;
    border-radius: 6px;
    background: #caf0fe;
    padding: 10px 5px;
    margin-bottom: 20px;
}

.story-table-col {
    width: 250px;
    padding: 0px 5px;
    box-sizing: content-box;
}

.results {
    margin-top: 10px;
}

@media screen and (max-width: 576px) {
    .header-logo-img {
        height: 110px;
    }

    .header-blue-line {
        top: 49px;
    }

    #storyViewSubmitButton {
        display: none;
    }

    .desktop-view {
        display: none;
    }

    .mobile-view {
        display: block;
    }
}